@model MvcNorthwind.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {

        $.getJSON('/customer/all', function (data) {
            var items = [];
            var tabela = $('#example tbody');

            $.each(data, function (i, item) {
                $(tabela).append('<tr>');
                $(tabela).append('<td id="' + i + '">' + parseInt(i + 1).toString() + '</td>');
                $(tabela).append('<td id="' + i + '">' + item.ContactName + '</td>');
                $(tabela).append('<td id="' + i + '">' + item.Address + '</td>');
                $(tabela).append('<td id="' + i + '">' + item.City + '</td>');
                $(tabela).append('<td id="' + i + '">' + item.Country + '</td>');
                $(tabela).append('</tr>');
            });

        });

        $('#lista').css('border', '1px solid black');

    });

</script>
<fieldset id="lista">
    <legend>
        <h2>
            Customers</h2>
    </legend>
    <table id="example">
        <thead>
            <tr>
                <th>
                    Número
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Endereço
                </th>
                <th>
                    Cidade
                </th>
                <th>
                    País
                </th>
            </tr>
        </thead>
        <tbody><tr><td></td><td></td><td></td><td></td><td></td></tr></tbody>
        <tfoot></tfoot>
    </table>
    <script type="text/javascript">
        
        habilitaDataTable();

        function habilitaDataTable() {
            $('#example').dataTable({
                "sPaginationType": "full_numbers"
            });
        }
    </script>
</fieldset>
